{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "parser": "babel-eslint"
  },
  "extends": [
    "plugin:vue/essential"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": [1,"always-multiline"],
    "no-cond-assign": [2,"always"],
    "no-constant-condition": 1,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 1,
    "no-empty": 1,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 1,
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 1,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 1,
    "no-sparse-arrays": 2,
    "no-unreachable": 1,
    "use-isnan": 2,
    "valid-jsdoc": 1,
    "valid-typeof": 2,
    "no-unexpected-multiline": 1,
    "accessor-pairs": 1,
    "block-scoped-var": 2,
    "curly": [1,"all"],
    "default-case": 1,
    "dot-notation": [1,{"allowKeywords":true}],
    "dot-location": [1,"property"],
    "eqeqeq": [1,"smart"],
    "guard-for-in": 1,
    "no-alert": 1,
    "no-caller": 2,
    "no-div-regex": 1,
    "no-else-return": 1,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-fallthrough": 2,
    "no-floating-decimal": 1,
    "no-implicit-coercion": [1,{"boolean":true,"number":true,"string":true}],
    "no-implied-eval": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 1,
    "no-loop-func": 2,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-new-func": 1,
    "no-new-wrappers": 2,
    "no-new": 1,
    "no-octal-escape": 1,
    "no-octal": 2,
    "no-param-reassign": 1,
    "no-proto": 2,
    "no-redeclare": [1,{"builtinGlobals":true}],
    "no-return-assign": [1,"always"],
    "no-script-url": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-throw-literal": 1,
    "no-unused-expressions": 1,
    "no-useless-call": 1,
    "no-void": 1,
    "no-with": 2,
    "vars-on-top": 1,
    "wrap-iife": [1,"any"],
    "yoda": [1,"never",{"exceptRange":true}],
    "strict": 1,
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": [1,{"builtinGlobals":true,"hoist":"all"}],
    "no-undef": 1,
    "no-unused-vars": 1,
    "no-use-before-define": [2,"nofunc"],
    "no-path-concat": 1,
    "array-bracket-spacing": [1,"always",{"singleValue":true,"objectsInArrays":true,"arraysInArrays":true}],
    "brace-style": [1,"1tbs",{}],
    "camelcase": [1, {"properties": "never"}],
    "comma-spacing": [1,{"after":true}],
    "comma-style": 1,
    "computed-property-spacing": [1,"never"],
    "eol-last": 1,
    "func-names": 1,
    "func-style": [1,"declaration"],
    "indent": [1,2],
    "key-spacing": [1,{"afterColon":true}],
    "lines-around-comment": [1,{"beforeBlockComment":true,"beforeLineComment":true}],
    "linebreak-style": [1,"unix"],
    "max-nested-callbacks": [1,4],
    "new-parens": 1,
    "no-array-constructor": 1,
    "no-inline-comments": 0,
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-multiple-empty-lines": [1,{"max":2}],
    "no-nested-ternary": 1,
    "no-new-object": 1,
    "no-trailing-spaces": 1,
    "no-unneeded-ternary": 1,
    "object-curly-spacing": [1,"always",{"arraysInObjects":true,"objectsInObjects":true}],
    "operator-linebreak": [1,"before", { "overrides": { "=": "after"} }],
    "quotes": [1,"single","avoid-escape"],
    "semi-spacing": [1,{"after":true}],
    "semi": [1,"always"],
    "space-before-blocks": [1,"always"],
    "space-before-function-paren": [1,{"anonymous":"always","named":"never","asyncArrow":"always"}],
    "space-in-parens": [1,"always",{}],
    "space-infix-ops": 1,
    "spaced-comment": [1,"always",{}],
    "arrow-parens": [1,"always"],
    "arrow-spacing": [1,{"before":true,"after":true}],
    "constructor-super": 1,
    "generator-star-spacing": [1,{"before":true,"after":true}],
    "no-class-assign": 1,
    "no-const-assign": 1,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": [1,"always"],
    "prefer-const": 1,
    "prefer-spread": 1,
    "require-yield": 1,
    "keyword-spacing": "warn"
  }
}
